body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  resize: none;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #00ff88;
  font-weight: bold;
  cursor: pointer;
}

.output {
  margin-top: 30px;
  height: 500px;
  border: 1px solid #333;
}

iframe {
  width: 100%;
  height: 100%;
  background: white;
}
